.content{
    max-width:1100px;
    margin: auto;
}

.casella{
    background-color: white;
    font-size: 1.5vw;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

}

h1{padding-bottom: 10px;padding-top: 40px;}

.giocata-corrente{
    text-align: center;
    margin-top: 18px;
}
#par-giocata-corrente{font-size: 2vw;}

.casellaCoperta{
    background-color: #ff3300;
    border: 1.5px solid brown;
    color: white;
}

/****************** numero estratto ******************/
.bigNumber{
    color: #800000;
    font-size: 407px;
    display: none;
    text-align: center;
}

/************** gestione responsività ********************/
@media screen and (max-width: 768px){
    table .casella{
      font-size: 4vw;
      padding: 0.5vw;
    }
    #par-giocata-corrente{font-size: 4vw};
  }
  
  @media screen and (max-width: 536px){
    table .casella{
      font-size: 5.5vw;
      padding: 0.5vw;
    }
    .bigNumber{
      font-size: 188px;
    }
  }
  